<%- include('_header.ejs') %>


    <nav>
        <a href="/productos">Productos</a>
        <a href="/salir">Salir</a>
    </nav>

    <div class="container">
        <h1>Home</h1>
    </div>

    <pre>
        Username: <%= user.username %>
    </pre>


    <%- include('_footer.ejs') %>